.MuiDrawer-paperAnchorBottom {
    width:450px;
    margin-left:63%;
    max-height:50% !important;
    height:280px
}

/* MuiPaper-root MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation16 */