.MuiDrawer-paperAnchorBottom {
    /* width:450px; */
    margin-left:75%;
    max-height:50% !important;
    height:280px
}

.MuiPaper-root.MuiDrawer-paperAnchorRight {
    max-width: 300px;
    margin-top: 1px;
    /* background: none; */
    border: none;
    /* max-height: 50%; */
}

.MuiListItemText-root { 
    color: navy;
}
.MuiListItem-root.MuiButtonBase-root  {
    background: rgba(255, 255, 255, 0.836);
    border-radius: 4px;
}
.keyCards {
    /* background: rgba(223, 230, 230, 0.486); */
    background: whitesmoke;
    
    border-left: 1px solid navy;
    width: 205px;
    height: 100px;
    padding-right: 0px;
    position: relative;
}

.MuiButtonBase-root:focus{
    outline-color: white;
}



.MuiGrid-item.cardDivs {
    margin: 10px;
    box-shadow: 4px 4px 7px 4px rgb(97 99 101 / 6%);
    position: relative;
}



.Numbers {
    float: right;
    margin-top: 0px;
    padding-right: 5%;
    color: rgba(14, 14, 68, 0.76);
}

.innerCircle {
    width: 110px;
    height: 125px;
    border: 0.75px solid rgba(226, 234, 236, 0.432);
    /* border-top-left-radius: 5px; */
    border-radius: 50%;
    box-shadow: 1px 1px 7px 4px rgba(226, 234, 236, 0.432);
    /* align-content: center; */
    /* background: rgba(102, 102, 253, 0.158); */
    /* background: #add8e62e; */
    background: #8da5ad21;
    padding: 2%;
    margin: 15px;
    
}

.iconsize {
    font-size: 40px !important;  
    color:  rgb(3, 3, 136);
    color: rgb(230 116 17 / 0.62);
}

.subtext {
    line-break: normal;
    line-height: 1;
    color: black;
    /* font-size: 8pt; */
}